* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: $base-color  ;
}

.container {
  max-width: 1152px;
  margin: 0 auto;

  @media (max-width: $breakpoint-xl) {
    max-width: $container-lg;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: $container-md;
  }

  @media (max-width: $breakpoint-md) {
    max-width: $container-sm;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
  }
}

h1 {
  font-size: 64px;
  line-height: 76px;
  font-weight: 600;
  color: $gray;
  margin-bottom: 16px;
  letter-spacing: 2px;

  span {
    color: $primary;
  }
}

h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: $gray;
  margin-bottom: 8px;
  letter-spacing: 1px;

  span {
    color: $primary;
  }
}

h3 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1px;
  color: $gray;
}

h4 {
  font-size: 20px;
  line-height: 28px;
  color: $gray
}

ul {
  list-style: none;
}

button {
  background: none;
  cursor: pointer;
}

a {
  color: $dark;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.button_light-sm {
  font-family: "Inter", serif;
  font-weight: 500;
  background: $light;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $primary;
}

.button_primary-sm {
  font-family: "Inter", serif;
  font-weight: 500;
  background: $primary;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: white;
}

.button_primary-xl {
  font-family: "Inter", serif;
  font-weight: 500;
  background: $primary;
  padding: 14px 32px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;
}

.button_icon {
  padding: 12px;
  img {
    vertical-align: middle;
  }
}
