* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  color: #717171;
}

.container {
  width: 1152px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

button {
  background: none;
}

a {
  color: black;
  text-decoration: none;
}

.button_light-sm {
  font-family: "Inter", serif;
  font-weight: 500;
  background: #f5f7fa;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #4caf4f;
}

.button_primary-sm {
  font-family: "Inter", serif;
  font-weight: 500;
  background: #4caf4f;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: white;
}

.button_primary-xl {
  font-family: "Inter", serif;
  font-weight: 500;
  background: #4caf4f;
  padding: 14px 32px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: white;
}
