* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

button {
  background: none;
}

a {
  color: black;
  text-decoration: none;
}


.button_light {
  font-family: "Inter", serif;
  font-weight: 500;
  background: #F5F7FA;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}


.button_primary {
  font-family: "Inter", serif;
  font-weight: 500;
  background: #4CAF4F;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: white;
}