.clients {
  padding: 100px 0 50px;

  @media (max-width: $breakpoint-md) {
    padding: 80px 0 40px;
  }
}

.clients h2 {
  text-align: center;
}

.clients p {
  text-align: center;
  margin-bottom: 32px;
}

.clients__logos {
  display: flex;
  gap: 80px;
  justify-content: center;

  @media (max-width: $breakpoint-lg) {
    gap: 36px;
  }

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
    column-gap: 26px;
    row-gap: 16px;
  }
}
