.clents {
  padding: 100px 0 50px;
}

.clients h2 {
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 8px;
}

.clients p {
  text-align: center;
  margin-bottom: 32px;
}

.clients__logos {
  display: flex;
  gap: 80px;
  justify-content: center;
}
