.cta {
  background-color: $light;
  padding: 60px 0;
  margin-top: 50px;
  text-align: center;

  @media (max-width: $breakpoint-md) {
    margin-top: 40px;
  }

  h2 {
    margin-bottom: 32px;
  }

  .button_primary-xl {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
  }
}
