.customer {
  padding: 50px 0;

  @media (max-width: $breakpoint-md) {
    padding: 40px 0;
  }
}

.customer__content {
  display: flex;
  gap: 24px;

  img {
    border-radius: 8px;
    height: 100%;
  }

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    align-items: center;
  }
}

.customer__text p {
  font-weight: 500;
  margin-bottom: 16px;
}

.customer__text-info {
  h4 {
    color: $primary;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    font-weight: 400;
    margin-bottom: 0;
    color: #89939E;
  }
}
