.promo {
  background: #f5f7fa;
  padding: 96px 0;
}

.promo__content {
  display: flex;
  align-items: center;
  gap: 104px;
}

.promo__group h1 {
  font-size: 64px;
  line-height: 76px;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 16px;
}

.promo__group h1 span {
  color: #4caf4f;
}

.promo__group p {
  margin-bottom: 32px;
}
