.promo {
  background: $light;
  padding: 180px 0 96px;

  @media (max-width: $breakpoint-md) {
    padding: 121px 0 60px;
  }
}

.promo__content {
  display: flex;
  align-items: center;
  gap: 104px;

  @media (max-width: $breakpoint-lg) {
    gap: 40px;

    img {
      width: 280px;
    }
  }

  @media (max-width: $breakpoint-md) {
    flex-direction: column-reverse;
  }

  @media (max-width: $breakpoint-sm) {
    img {
      width: 100%;
    }
  }
}

.promo__group  {

  p {
    margin-bottom: 32px;
  }

  button {
    @media (max-width: $breakpoint-md) {
      width: 100%;
    }
  }
}